@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-datetime-edit {
  display: none;
}
/*
::-webkit-datetime-edit-fields-wrapper {
  display: none;
  visibility: hidden;
  background: silver;
}
::-webkit-datetime-edit-text {
  color: red;
  padding: 0 0.3em;
}
::-webkit-datetime-edit-month-field {
  visibility: hidden;
  color: blue;
}
::-webkit-datetime-edit-day-field {
  color: green;
}
::-webkit-datetime-edit-year-field {
  color: purple;
}
::-webkit-inner-spin-button {
  display: none;
}
::-webkit-calendar-picker-indicator {
  background: orange;
}
*/
